body {

  background-repeat: repeat repeat;
  opacity: .90;
}

h1 {
  font-family: 'Lobster', cursive;
  letter-spacing: 7px;
  display: inline-block;
  color: white;
  margin-left: 16%;
  text-shadow: 2px 2px grey;
  font-size: 6vw;
}

h2 {
  margin-top: auto;
  padding-left: 24%;
  padding-top: 2%;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 4vw;
}
.headerwrap {
  background-color: black;
  height: 40%;
}

.headerwrapbottom {
  background-color: black;
  height: 1%;
}

header{
  height: 30%;
  padding-bottom: 24%;
}

header{
  height: 277px;
  padding-bottom: 100px;
  padding-right: 10px;
  border-bottom:  black 2px;
}

.header{
  display: inline-block;
}

header img {
  float: left;
  position: relative;
  z-index: 3;
  margin-left: 16%;
  margin-top: 0%;
  height: auto;
  width: 14%;
}


.codefellows{
  height: 33%;
  width: auto;
  text-align: center;
  border: inset;

}

.footer{
  text-align: center;
  text-decoration: none;
  background-color: black;
  bottom: 0;
  width: auto;
  height: 132px;
  position: relative;
  clear: both;
  padding-top: 5%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  text-shadow: 1.5px 1.5px #5e5d5b;
}
.footer-logo{
  color: white;
  text-align: center;
}

.form {
  padding-top: 2%;
  margin-left: 9%;
}


.bgmain {
  background-image: url(assets/Background images/WoodGrainBackgroundPage.jpeg);
  border-top-style: outset;
  border-bottom-style: outset;
  border-top-color: grey;
  border-bottom-color: grey;
  border-width: 12px;

}


.dropbtn, .submit {
  display: block;
  background: none;
  color: black;
  text-shadow: 1.5px 1.5px grey;
  font-size: 1.5vw;
  border-style: none;
  cursor: pointer;
  width: 100%;
  height: 50%;
  border-radius: 20px;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  text-align: center;
  margin-left: -7%;
}


#dropdown #dropdown {
  border-style: inset;
  border-radius: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 73px;
  padding-left: 75px;
  background-image: url("assets/Background images/Sq Ice Cube.png");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .9;
  height: 141px;
  width: 184px;
  margin-left: 7px;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: Black;
  color: white;
}

.dropdown:hover .submit {
  background-color: Black;
  color: white;
}
.video-header {
  background: transparent;
  overflow: hidden;
}
.video-bg {
  background: transparent;
  height: 277px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

style {
  width: 100%;
  height: 100%;
}

.navigation {
  margin-left: 80%;
  margin-top: -6%;
}



/* Dropdown Button */
.navbtn {
  background-color: #5e5d5b;
  color: white;
  padding: 11%;
  font-size: 1.5vw;
  border: none;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  width: 99%;
  text-shadow: 1.5px 1.5px grey;
}

/* The container <div> - needed to position the dropdown content */
.dropbox {
  display: inline-block;
  padding: 1%;
  text-align: center;
  border-style: groove;
  background-color: white;
  width: 56%;
  height: auto;

}

/* Dropdown Content (Hidden by Default) */
.dropbox-content {
  display: none;
  position: absolute;
  font-family: 'Lobster', cursive;
  font-size: 2vw;
  background-color: #f9f9f9;
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropbox-content a {
  color: black;
  padding: 7px 7px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropbox-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropbox:hover .dropbox-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropbox:hover .navbtn {
  background-color: #5e5d5b;
}

.header-container{
  width: 100%;
  height: 277px;
  border-left: none;
  border-right: none;
  position: relative;
  background: transparent;
}

.video-container{
  background: url('assets/videoposter.jpeg') no-repeat;
  background: transparent;
  background-size: cover;
  height: 280px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: -1;
  opacity: 0.78;
  height: 277px;
  width: 100%;
  object-fit: cover;
}
.drinkCard{

  width: 100%;
  height: 100%;
}
.render{
  background: url(assets/silverplatter.png) no-repeat;
  width: 74%;
  height: 100%;
  margin-left: 23%;
}

.cocktailImg {
  margin-left: 16%;
  width: 25%;
}
