body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCDCDC
  }
  header{
    padding-bottom: 70px;
    border-bottom: solid black 2px;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ1L8QIASUyIVcZhK9dvU2dPK9ql9yEkJU1QPAEsByP28fvZm0z");

  }
.header{
  display: inline-block;

}

header img {
  display: inline-block;
  float:left;


}
nav ul li{
  display: inline-block;
  list-style: none;
  float: right;
  padding:8px;
}
li.one{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.two{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.three{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.four{
  border-style: solid;
  color: white;
  text-decoration: none;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: none;
}
p{
  color: white;
}

.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 602px;
    height: 150px;
    background-color: #778899;
    `-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;`
}

.box:hover {
    background-color: #8B0000;
    width: 702px;
    height: 250px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.james{
  display: inline-block;
  margin-top: 50px;
  float: left;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}
.chrystie{
  display: inline-block;
  margin-top: 50px;
  float:right;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}

.louis{
  display: inline-block;
  margin-top: 50px;
  float: left;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}
img {
  padding-right: 25px;
}
.sam{
  display: inline-block;
  margin-top: 50px;
  float:right;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
  margin-bottom: 50px;
}


.jiggerbox{
  display: inline-block;
}
p.colorblack{
  color: black;
}

img.codefellows{
  height: 35px;
  width: 35px;
}

.codefellows{
  height:25px;
  width: 25px;
  text-align: center;
}
p{
  width:600px;
  height: 150px;

}
.footer{

  text-align: center;
  text-decoration: none;
  bottom: 0;
  width: auto;
  height: 110px;
  position: relative;
  clear: both;
}
