/**{
  border-style: dashed;
}*/
body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background-color: #DCDCDC
  }
  header{
    padding-bottom: 70px;
    border-bottom: solid black 2px;
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ1L8QIASUyIVcZhK9dvU2dPK9ql9yEkJU1QPAEsByP28fvZm0z");

  }
.header{
  display: inline-block;

}

header img {
  display: inline-block;
  float:left;


}
nav ul li{
  display: inline-block;
  list-style: none;
  float: right;
  padding:8px;
}
li.one{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.two{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.three{
  border-style: solid;
  color: white;
  text-decoration: none;
}
li.four{
  border-style: solid;
  color: white;
  text-decoration: none;
}

a{
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  text-decoration: none;
}
p{
  color: white;
}

.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 602px;
    height: 150px;
    background-color: #778899;
    `-webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, background-color 2s, transform 2s;`
}

.box:hover {
    background-color: #8B0000;
    width: 702px;
    height: 250px;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.james{
  display: inline-block;
  margin-top: 50px;
  float: left;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}
.chrystie{
  display: inline-block;
  margin-top: 50px;
  float:right;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}

.louis{
  display: inline-block;
  margin-top: 50px;
  float: left;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
}
img {
  padding-right: 25px;
}
.sam{
  display: inline-block;
  margin-top: 50px;
  float:right;
  border-bottom width: 960px;
  border-bottom-style: groove;
  border-color: gray;
  margin-bottom: 50px;
}

.
.jiggerbox{
  display: inline-block;
}
p.colorblack{
  color: black;
  width: 290px;
  margin-top: 5%;
  /*text-align: center;*/
}
h5{
  padding-bottom: 0;
}

img.codefellows{
  height: 35px;
  width: 35px;
}

.codefellows{
  height:25px;
  width: 25px;
  text-align: center;
}
/*This paragraph is for the paragraphs on the about us page.*/
p{
  width:600px;
  height: 150px;
}






.maincontainerrecipe{
  display: inline-block;
}
card-container {
  /*display: inline-block;;*/
  cursor: pointer;
  height: 150px;
  perspective: 600;
  /*position: relative;*/
  width: 175px;

}
.card1 {
/*float:left;*/
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-top: 15px;
}
.card1:hover {
  transform: rotateY(180deg);
}
.card1 .side {

  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
/*.sideback{
  list-style-type: none;
}*/
.card1 .back {
height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}
.card2 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 30%;
  margin-top: 15px;
}
.card2:hover {
  transform: rotateY(180deg);
}
.card2 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card2 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}


.card3 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 60%;
  margin-top: 15px;
}
.card3:hover {
  transform: rotateY(180deg);
}
.card3 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card3 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}



.card4 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  /*margin-left: 60%;*/
  margin-top: 15px;
}
.card4:hover {
  transform: rotateY(180deg);
}
.card4 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card4 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}



.card5 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 30%;
  margin-top: 15px;
}
.card5:hover {
  transform: rotateY(180deg);
}
.card5 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card5 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}


.card6 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 60%;
  margin-top: 15px;
}
.card6:hover {
  transform: rotateY(180deg);
}
.card6 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card6 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}


.card7 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-top: 15px;
}
.card7:hover {
  transform: rotateY(180deg);
}
.card7 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card7 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}


.card8 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 30%;
  margin-top: 15px;
}
.card8:hover {
  transform: rotateY(180deg);
}
.card8 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card8 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}


.card9 {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 25%;
  margin-left: 60%;
  margin-top: 15px;
}
.card9:hover {
  transform: rotateY(180deg);
}
.card9 .side {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  /*overflow: hidden;*/
  width: 100%;
}
.card9 .back {
  height:50%;
  background: #eaeaed;
  color: black;
  font-size: 14px;
  text-decoration: none;
  line-height: 20px;
  text-align: center;
  transform: rotateY(180deg);
  padding: 0;
}





.row1 {
  border-style: dashed;
  border-color: red;

}
.row2{
  margin-top: 80%;
  border-style: dashed;
  border-color: blue;
}
.row3{
  margin-top: 80%;
  border-style: dashed;
  border-color: green;
}
/*.codefellows{
  margin-top: 50%;
  height: 25px;
  width: 25px;
  text-align: center;
}*/



.footer{
margin-top: 50%;
  text-align: center;
  text-decoration: none;
  bottom: 0;
  width: auto;
  height: 110px;
  position: relative;
  clear: both;
}
