body {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #DCDCDC*/
  background-image: url(assets/WoodGrainBackgroundPage.jpeg);
  background-repeat: repeat repeat;
  opacity: .90;
  padding-left: 143px;
  }

h1 {
  /*font-family: 'Vibur', cursive;*/
  /*font-family: 'Sacramento', cursive;*/
  font-family: 'Poiret One', cursive;
  display: inline-block;
  }

  header{
    padding-bottom: 100px;
    border-bottom: in black 2px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    font-size: 35px;
    padding-left: 145px;
    border-image-source: url(assets/WoodShelf.png);
    /*placholder for a diff custom line*/
    /*border-bottom: groove 5px black;*/
    text-shadow: 2px 2px grey;
    /*background-image: url("assets/CocktailShakerSet.png");*/

  }

  .header{
    display: inline-block;
  }

  header img {
    display: inline-block;
    float:left;
    /*padding-right: 30px;*/

  }
  nav ul li{
    display: inline-block;
    list-style: none;
    float: right;
    padding: 30px;
    padding:8px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
    text-shadow: 1.5px 1.5px grey;
    font-size: 20px;
    text-align: center;
    border-style: groove;
    background-color: white;
    opacity: .85;

  }
  li.one{
    border-style: inset;
    color: white;
    text-decoration: none;
    width: 125px;
  }
  li.two{
    border-style: inset;
    color: white;
    text-decoration: none;
    width: 125px;
  }
  li.three{
    border-style: inset;
    color: white;
    text-decoration: none;
    width: 125px;
  }
  li.four{
    border-style: inset;
    color: white;
    text-decoration: none;
    width: 125px;
  }

  a{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
  }

.codefellows{
  height:50px;
  width: 50px;
  text-align: center;
  border: inset;

}
.footer{
  text-align: center;
  text-decoration: none;
  bottom: 0;
  width: auto;
  height: 110px;
  position: relative;
  clear: both;
  padding-top: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  text-shadow: 1.5px 1.5px grey;
}
/*.footer-logo{
  text-decoration: none;
}*/

.form {
  padding-top: 25px;
}


.dropbtn, .submit {
    display: block;
    /*background-color: #553A9C;*/
    background-color: none;
    background: none;
    color: black;
    text-shadow: 1.5px 1.5px grey;
    padding: 1px;
    font-size: 19px;
    border: groove 5px;
    cursor: pointer;
    width: 145px;
    height: 75px;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    white-space: pre-line;
}


#dropdown #dropdown {
    border-style: inset;
    border-radius: 20px;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    /*position: relative;*/
    /*Change back to inline-block if want them horizontally aligned*/
    display: block;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 5px;
    background-image: url("assets/Sq Ice Cube.png");
    background-repeat: no-repeat;
    height: 224px;
    width: 262px;
    /*border-radius: 20px;*/
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn{
    background-color: #391F7A;
}

.dropdown:hover .submit {
  background-color: #391F7A;
}
